/* CSS RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}
/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* VARIABLES */

:root {
  --grey-background: #d4d9d6;
  --white-backhground: #ffffff;
  --heart-red: #d91200;
}

/* FONTS */

@font-face {
  font-family: odin-font;
  src: url(../assets/Norse-Bold.otf);
}

/* GLOBAL DECLARATIONS */

html {
  font-family: Arial, Helvetica, sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;

  font-size: large;
  font-weight: 600;
  font-size: 16px;
}

/* FLEX ALIGNMENTS */

/* FOR THE LEFT HAND SIDE */

.container {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.logo-background {
  min-width: 25%;
  max-width: 35%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url("../assets/olivier-collet-1bRqiHGtPK0-unsplash.jpg");
  background-clip: border-box;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.credits {
  color: white;
  width: fit-content;
  /* FIX FOR STICKING THE CREDITS AT THE BOTTOM BUT I DON'T KNOW IF TIHS IS THE BEST WAY TO DO IT */
  position: absolute;
  bottom: 0;
}

.odin-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70%;
}

.blk-shadow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.55);
  width: 100%;
  gap: 1rem;
}

.odin-logo img {
  max-width: 30%;
  height: auto;
}

.odin-text {
  font-family: odin-font;
  font-size: 3rem;
  color: white;
}

.credits {
  text-align: center;
  font-weight: 400;
  font-size: 0.8rem;
  padding: 1rem 1rem;
}

.credits a:link {
  color: white;
}

/* FOR THE SIGN UP FORM */

.sign-up-form {
  /* padding: 2rem 6rem; */
  min-width: 75%;
  max-width: 65%;
  height: 100%;
  /* THE HEIGHT SCALING NEEDS FIXING HERE */
}

.callout,
.form-details,
.action-btn {
  width: 100%;
  padding: 0 6rem;
  flex: 1;
  /* FLEX DOESN'T SEEM TO BE WORKING. NEEDS FIXING */
}

.sign-up-form label {
  display: block;
}

.sign-up-form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 3rem;
  height: 100%;
}

.prompt,
.callout p {
  font-size: 1.5rem;
  max-width: max(60ch);
}

.callout,
.action-btn {
  background-color: var(--grey-background);
}
