/* CSS RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}
/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* VARIABLES */

:root {
  --grey-background: #eeeeee;
  --greyer-background: #c4c0c0;
  --white-backhground: #ffffff;
  --heart-red: #d91200;
  --heart-red-darker: #af1406;
  --blue-outline: #574ed5;
  --blue-shadow: #282097;
  --valid-green: #26cf08;
}

/* FONTS */

@font-face {
  font-family: odin-font;
  src: url(../assets/Norse-Bold.otf);
}

.pixelify-sans-font {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* GLOBAL DECLARATIONS */

html {
  font-family: Arial, Helvetica, sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 16px;
}

/* FLEX ALIGNMENTS */

/* FOR THE LEFT HAND SIDE */

.container {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.logo-background {
  min-width: 25%;
  max-width: 35%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url("../assets/olivier-collet-1bRqiHGtPK0-unsplash.jpg");
  background-clip: border-box;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-right: 2px solid var(--heart-red);
  border-bottom: 2px solid var(--heart-red);
  border-radius: 0px 0px 15px 0px;
}

.credits {
  color: white;
  width: fit-content;
  /* FIX FOR STICKING THE CREDITS AT THE BOTTOM BUT I DON'T KNOW IF TIHS IS THE BEST WAY TO DO IT */
  position: absolute;
  bottom: 0;
}

.sign-up-form .credits {
  position: relative;
  text-align: center;
  padding: 0.4rem 0;
}

.odin-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70%;
}

.blk-shadow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.55);
  width: 100%;
  gap: 1rem;
}

.odin-logo img {
  max-width: 30%;
  height: auto;
}

.odin-text {
  font-family: odin-font;
  font-size: 3rem;
  color: white;
}

.credits {
  text-align: center;
  font-weight: 400;
  font-size: 0.8rem;
  padding: 1rem 1rem;
}

.credits a:link {
  color: white;
}

/* FOR THE SIGN UP FORM */

.sign-up-form {
  min-width: 75%;
  max-width: 65%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  /* gap: 1rem; */
  height: 100dvh;
}

.callout,
.form-details,
.action-btn {
  width: 100%;
  padding: 2.5rem 6rem;
  flex: 1;
}

.sign-up-form label,
.sign-up-form input {
  display: block;
}

label {
  letter-spacing: 0.2rem;
}

.prompt,
.callout p {
  font-size: clamp(1rem, 5vw, 1.6rem);
  width: 50ch;
}

.callout,
.action-btn {
  background-color: var(--grey-background);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.callout {
  justify-content: flex-end;
  background-image: url("../assets/konrad-rolf-V0RhqyCTDWY-unsplash.jpg");
  background-clip: border-box;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  border-bottom: 2px solid var(--heart-red);
  border-radius: 0px 0px 15px 15px;
  box-shadow: 0px 5px 5px var(--heart-red-darker);
}

.action-btn {
  justify-content: flex-start;
  padding-top: 2.5rem;
}

.form-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-layout {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 0.8rem;
  font-weight: 500;
}

input {
  min-width: 20rem;
  border-radius: 3px;
  border: 1.3px rgb(223, 222, 222) solid;
  min-height: 1.8rem;
}

.first-row,
.second-row,
.third-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20%;
}

.btn-class {
  width: clamp(10rem, 11vw, 25rem);
  padding: 0.5rem 1.7rem;
  border-radius: 5px;
  color: white;
  background-color: var(--heart-red);
  border: 2px solid var(--heart-red-darker);
  box-shadow: 3px 5px 5px var(--heart-red-darker);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.btn-class:hover {
  transform: scale(1.04);
}

.login a {
  color: var(--heart-red);
  text-decoration: none;
}

/* INPUT VALIDATION SEMANTICS */

input:focus {
  box-shadow: 5px 2px 5px var(--greyer-background);
  outline: 1px solid var(--blue-outline);
}

input:user-invalid {
  box-shadow: 5px 2px 5px var(--greyer-background);
  outline: 1px solid var(--heart-red);
}

input:user-valid {
  box-shadow: 5px 2px 5px var(--greyer-background);
  outline: 1px solid var(--valid-green);
}

.invisible {
  display: none;
}

.visible {
  display: block;
}
